*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.stop-scrolling {

    height: 100%;
    
    overflow: hidden;
    
}

.signup{
    color: white;
}
/*Header ventana en top */
header
{
    /*Background degradado*/
    width: 100%;
    height: 600px;
    background: #ffffff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(233, 88%, 20%, 0.603), hsla(316, 100%, 9%, 0.623)),url(../Img/Degradado1min2.png);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(233, 88%, 20%, 0.603), hsla(316, 100%, 9%, 0.623)),url(../Img/Degradado1min2.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    z-index: 10;
    transition: 1s;
    -webkit-transition: 1s;
    overflow: hidden;
    font-family: Dosis, serif;
    font-weight: bold;
    font-size: 100%;
}

/*Al hacer Scroll*/
header.abajo
{  
    transition: 1s;
background-size: cover;
background-attachment: fixed;

}

header .textos-header
{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: right;
    justify-content: center;
    flex-direction: column;
    margin-left: 35mm;
    font-family: Titillium Web;
}
/*Al hacer Scroll*/
header.abajo >nav
{
    background-color: rgb(36, 1, 70);
    width: 100%;
    transition: 1s;
    z-index: 11;
}

.textos-header h1
{
font-size: 80px;
color: rgb(255, 255, 255);
}

.textos-header h2
{
font-size: 40px;
color: rgb(255, 255, 255);
font-weight: 300;
padding: 20px;
margin-left: -3mm;
}

nav
{
    position: fixed;
    text-align: left;
    padding: 10px 50px ;
    background-color: #78020600;
    width: 100%;
    transition: 1s;
}

nav > a{
    color: aliceblue;
    font-weight: 300;
    text-decoration: none;
    margin-right: 20px;
    
}

nav > a:hover{
    text-decoration: underline;
}

nav > label > img
{
width: 54px;
margin-right: 5mm;
margin-left: 0mm;
}

nav > label > input
{
margin-left: 90mm;
border: 1px solid silver;
border-radius: 6px;
padding: 1.5mm;
background-color: #ffffff57;
transition: 0.6s;
position: static;
justify-content: right;
}

nav > label > input.selec
{
margin-left: 80mm;
border: 1px solid silver;
border-radius: 6px;
padding: 1.5mm;
background-color: #ffffff;
}

img.lupa
{
margin-left: 195mm; 
width: 30px;
background-size: 100%;
padding: 50px 0;
margin-top: -21mm;
}
/*Boton Sing Up Al Top*/
ul.singup{
    border-radius: 9px;
   border: 2.1px solid;
    border-color: #ffffff;
    background-color: #ffffff00;
    width: 6%;
    padding: 6px;
    text-align: center;
    margin-left: 291mm;
    margin-top: -23.1mm;
    transition: 0.7s;
    }

    #myBtn
{
    text-decoration: none;
    color: #ffffff;
    
}

#myBtn:hover
{
    text-decoration: none;
    color: #ffffff;
    text-decoration: underline;
    transition: 0.7s;
}
/*Al hacer Scroll*/
ul.abajo{
    border-radius: 9px;
   border: 0.3px solid;
    border-color: #ffffff;
    background-color: #049428ef;
    box-shadow: 0 0 9px rgba(92, 241, 171, 0.589),
inset -20px -120px 50px rgba(6, 173, 56, 0.815), 0 0 80px #79fdcaa2;
    width: 6%;
    padding: 6px;
    text-align: center;
    margin-left: 291mm;
    margin-top: -23.1mm;
    transition: 0.7s;
    }

/*Al Top*/
ul.singin{
    border-radius: 9px;
   border: 2.1px solid;
    border-color: #ffffff00;
    background-color: #ffffff00;
    width: 6%;
    padding: 6px;
    text-align: center;
    margin-left: 270mm;
    margin-top: -9mm;
    transition: 0.7s;
    }

    #AbrirSI
{
    text-decoration: none;
    color: #ffffff;
    transition: 0.7s;
}

#AbrirSI:hover
{
    text-decoration: underline;
}

.mundo
{
width: 330px;
height: 330px;
background: url(../Img/mapa6.png);
opacity: 90%;
color: #ffffffdc;
z-index: 14;
margin-top: -90mm;
background-size: 180%;
border-radius: 50%;
background-color: #75c8f881;
box-shadow: inset 0 0 15px rgba(255, 253, 253, 0.897),
inset -20px -120px 120px rgba(5, 5, 43, 0.815), 0 0 80px #ffffffa2;
animation: mundo 40s linear infinite;
margin-left: 190mm;
}

@keyframes mundo
{
0%{
    background-position-x: 0;
}
100%{
    background-position-x: 595px;
}
}

.wave
{
position: absolute;
bottom: 0;
width: 100%;
}

.astron1{
    background: url(../Img/astrona4.png);
    width: 330px;
height: 330px;
    z-index: 9;
    background-size: cover;
    position: absolute;
   margin-left: 230mm;
 }
/* Body De servicios*/

 .Nuestros_Serv{
    padding: 60px 0;
    width: 90%;
    max-width: 1800px;
    margin: 18mm;
    overflow: hidden;
    background-color: #040120;
    border-radius: 12px;
}
/*Titulos como SERVICIOS, CLIENTES ETC*/
.titulo
{
background: linear-gradient(180deg,rgb(248, 250, 249), rgb(60, 248, 54));
color: transparent;
background-clip: text;
-webkit-background-clip: text;
font-size: 60px;
margin-bottom: 60px;
margin-left: 25mm;
font-family: Titillium Web;
opacity: 0%;
transition: 0.5s;
}
/*Titulo Productos*/
.tituloPr
{
background: linear-gradient(180deg,rgb(248, 250, 249), rgb(60, 248, 54));
color: transparent;
background-clip: text;
-webkit-background-clip: text;
font-size: 60px;
margin-bottom: 60px;
margin-left: 25mm;
font-family: Titillium Web;
opacity: 0%;
transition: 0.5s;
}

h2.abajo{
    opacity: 100%;
    transition: 0.5s;
}

/*sCROLL SERV*/
h2.abajoServ{
    opacity: 100%;
    transition: 0.5s;
}


/*Titulo Clientes*/
.tituloCl
{
background: linear-gradient(180deg,rgb(1, 11, 102), rgb(133, 1, 1));
color: transparent;
background-clip: text;
-webkit-background-clip: text;
font-size: 60px;
margin-bottom: 40px;
margin-left: 25mm;
font-family: Titillium Web;
}

div.abajo > .imagen-productos
{
    width: 70%;
    height: 70%;
transition: 0.5s;
}

.imagen-productos
{
width: 0%;
height: 0%;
background: rgba(255, 255, 255, 0);
margin-top: 10mm;
transition: 0.5s;
}

div.abajo {
   
    transition: 0.7s;
    opacity: 100%;
}

div.abajoServ{
    opacity: 100%;
}

.contenedor-productos
{
display: flex;
justify-content: space-evenly;
margin-left: 15mm;
background: linear-gradient(0deg,rgba(248, 250, 249, 0), rgba(61, 248, 54, 0));
background-size:100%;
background-size: cover;
background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
transition: 0.7s;
font-family: Dosis, serif;
margin-top: -5mm;
height: 400px;
opacity: 0%;
}
.contenedor-servicios
{
display: flex;
justify-content: space-evenly;
margin-left: 15mm;
background-size:100%;
background-size: cover;
background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
opacity: 0%;
font-family: Dosis, serif;
transition: 0.5s;
}

.imagen-servicios
{
width: 40%;
}
/*Texto de servicios*/
.contenedor-textos
{
    margin-right: 120px;
    padding-left: 200px;
    color: #ffffff;
    background: radial-gradient( rgba(184, 225, 252, 0.897) -30%,
    rgba(0,36,34,0) 60%);
}

.subtitulo
{
font-size: 20px;
padding-bottom: 2mm;
margin-top: 6mm;
color: #67ddf1;
}
/*Body productos*/
.productos{
    padding: 60px 0;
    width: 90%;
    max-width: 1800px;
    margin: 18mm;
    overflow: hidden;
    background-color: #040120;
    border-radius: 12px;
}

/*Contenedor de CLientes*/
.clientes , .videos{
    padding: 60px 0;
    width: 90%;
    max-width: 1800px;
    margin: 18mm;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 1, 27, 0.897),
10px 10px 5px rgba(5, 5, 43, 0.815), 0 0 80px #ffffffa2;
}


.contenedor{
    padding: 0px 0;
    max-width: 1500px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 1mm;
    margin-right: 5mm;    
}


.parrafos1{
    font-size: 15px;
}

.galeria-clts
{
    width: 100%;
      
}
/* Footer */
.footercomp{
    width: 100%;
    background-size: cover;
    background:#bbbbbb;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    font-family: Titillium Web;
    padding-bottom: 10px;
    margin: auto;
    color: rgb(95, 95, 95);
}

.contenedor-foo{
    text-align: center;
    padding-top: 2mm;
}

.contenedor-foo h4{
    text-decoration: underline;
}
/* sing up popup*/
.singupbg{
    width: 100%;
    background-color: #0401208f;
    position: relative;
    z-index: 15;
}

.singup-form{
    width: 30%;
    height: 490px;
    background-color: #ffffffe5;
    z-index: 15;
    position: fixed;
    opacity: 100%;
    justify-content: center;
    text-align: center;
    border-radius: 9px;
    margin-left: 130mm;
    margin-top: 30mm;       
   }

   .singup-form h1
   {
margin-top: 10mm;
margin-bottom: 10mm;
   }

   .singup-form input
   {
    background-color: #c5c5c5;
margin-bottom: 5mm;
border-radius: 6px;
   }

   .singup-form p
   {
margin-top: 7mm;
   }
   
   .singup-form hr
   {
margin-top: 3mm;
   }

   /* sing In popup*/
.singinbg{
    width: 100%;
    background-color: #0401208f;
    position: relative;
    z-index: 15;
}

.singin-form{
    width: 30%;
    height: 490px;
    background-color: #ffffffde;
    z-index: 15;
    position: fixed;
    opacity: 100%;
    justify-content: center;
    text-align: center;
    border-radius: 9px;
    margin-left: 130mm;
    margin-top: 30mm;       
   }

   .singin-form h1
   {
margin-top: 10mm;
margin-bottom: 10mm;
   }

   .singin-form input
   {
    background-color: #c5c5c5;
margin-bottom: 5mm;
border-radius: 6px;
   }

   .singin-form p
   {
margin-top: 7mm;
   }
   
   .singin-form hr
   {
margin-top: 3mm;
   }

/*Botones Sing In/UP*/

   .btnsingUp{
    background-color: #040120a8;
    color: #67ddf1;
    border-radius: 9px;
    padding: 2mm;
    transition: 0.3s;
   }

   .btnsingUp:hover{
    background-color: #040120;
    color: #67ddf1;
    border-radius: 9px;
    padding: 2mm;
   }

   /*Botones Sing In/UP*/

   .btnsingIn{
    background-color: #67dcf17c;
    color: #040120;
    border-radius: 9px;
    padding: 2mm;
    transition: 0.5s;
    margin-top: 3mm;
    margin-bottom: 9mm;
   }

   .btnsingIn:hover{
    background-color: #67dcf1;
    color: #040120;
    border-radius: 9px;
    padding: 2mm;
    }

    .btnsingIn2{
        background-color: #67dcf17c;
        color: #040120;
        border-radius: 9px;
        padding: 2mm;
        transition: 0.5s;
        margin-top: 6mm;
        margin-bottom: 18mm;
       }
    
       .btnsingIn2:hover{
        background-color: #67dcf1;
        color: #040120;
        border-radius: 9px;
        padding: 2mm;
        }

   /*Resolución with 400px*/
      
        @media screen and (max-width:383px)
        {
          body{
            background-color: #630104;
            max-width: 383px
           
          }
          .wave{
            min-width: 700px;
            max-width: 800px;
          }
          header
{
    background-size: 900px;
    max-height: 500px; 
        min-width: 400px;
        width: 600px;
}
.mundo
{
    margin-left: 40mm;
    width: 200px;
    height: 200px;

}

header .textos-header
{
    margin-left: 10mm;
}

.astron1
{
    margin-left: 10mm;
    width: 250px;
    height: 250px;
}
nav > label > input
{
margin-left: 20mm;
margin-top: -50mm;
position: relative;
}
img.lupa
{
margin-left: 123mm; 
width: 30px;
}
        }